Create markdown cell with title of the notebook
# Data Science Tools and Ecosystem

Create markdown cell with title of the notebook
# **In this notebook, Data Science Tools and Ecosystem are summarized.**

Create a markdown cell to list data science languages

# Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. C++

Create a markdown cell to list data science libraries
# Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Numpy
3. Pandas
4. Tensorflow

Create a markdown cell with a table of Data Science tools
# Table of Data Science tools
|Sl. No| Data Science Tools |
|------| -------------------|
|1 | Jupyter Notebook        |
|2 | R Studio           |
|3| Visual Studio Code |
|4| Google colaboratory |

Create a markdown cell introducing arithmetic expression examples
### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Insert a markdown cell to list Objectives (List popular languages for Data Science)

# **Objectives**
- Python
- Java
- R
- C++

Create a markdown cell to indicate the Author's name

## Author Name
Darshak D  Poojary