Hello Python!

# H1 : Data Science Tools and Ecosystem

# H1: Data Science Tools and Ecosystem
## H2: Data Science Tools and Ecosystem
### H3: Data Science Tools and Ecosystem
#### H4: Data Science Tools and Ecosystem
##### H5: Data Science Tools and Ecosystem

**IN THIS NOTEBOOK, DATA SCIENCE TOOLS AND ECOSYSTEM ARE SUMMARIZED.**

# **Some of the popular languages that Data Scientists use are:**
1. Python
2. Java
3. R
4. C++

# **Some of the commonly used libraries used by Data Scientists include:**
1. Matplotlib
2. Numpy
3. Pandas
4. Tensorflow

# Table of Data Science tools
|Sl. No| Data Science Tools |
|------| -------------------|
|1 | Jupyter Notebook        |
|2 | R Studio           |
|3| Visual Studio Code |
|4| Google colaboratory |

### Below are a few examples of evaluating arithmetic expressions in Python.

# This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

# This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

# **Objectives:**
- Python
- Java
- R
- C++

## Author
Darshak D Poojary